// import the scss variables
@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

// this is the navbar container
#navbar {
    width: 100%;
    // to avoid changing the box size if added a padding to the navbar
    box-sizing: border-box;

    // adding the border
    border: 1px $border-color solid;
    display: flex;
    gap: 1.5rem;
}

$logo-size: clamp(1.5rem, 3.4vh + .1rem, 6rem);

#logo {
    // make the width changing based on the view port height, and limit the change to be between 1,5rem and 6rem
    width: $logo-size;
}

// humberger button styling
#humbergerButton {
    @include remove-default;
    width: $logo-size;

    position: relative;
    // center the div
    display: grid;
    place-items: center;

    @mixin burgerCommon {
        width: 100%;
        height: .12rem;
        border-radius: .2rem;
        background-color: $secondary-color;

        // adding the animation
        transition-property: transform, background-color;
        transition: .5s ease-in-out;
    }
    
    div {
        @include burgerCommon;
    }
    
    div::before, div::after {
        content: '';
        position: absolute;
        left: 0;
        @include burgerCommon;
    }

    div::before {
        transform: translateY(-500%) rotate(0);
    }
    
    div::after {
        transform: translateY(500%) rotate(0);
    }
}

#humbergerButton.close {
    div {
        transform: translateX(-30%);
        background-color: transparent;
    }

    div::before {
        transform: translateX(30%) rotate(-45deg);
    }
    
    div::after {
        transform: translateX(30%) rotate(45deg);
    }
}